<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnRisky="false"
  stopOnSkipped="false"
  cacheDirectory=".phpunit.cache"
>
  <coverage/>
  <!-- Add any additional configuration here -->
  <!-- Example test suite configuration -->
  <testsuites>
    <testsuite name="My Test Suite">
      <!-- Add test directories or files here -->
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!-- Example filter to include specific tests -->
  <source>
    <include>
      <directory suffix=".php">./tests</directory>
    </include>
  </source>
</phpunit>
