<h1>¡ CONFIRMAMOS TU PARTICIPACIÓN EN EL RETIRO!</h1>

<p>
    Seguramente al igual que tú, estamos ansiosos de compartir contigo estos 3
    días de enseñanzas y meditación con el Su Santidad Sakya Trizin 42 y
    posteriormente un retiro online guiado por el Venerable Lama Rinchen
    Gyaltsen.
</p>
<p>
    TE ENVIAMOS TU CÓDIGO QR QUE ACREDITA TU APORTE VOLUNTARIO, CON EL QUE
    PODRÁS INGRESAR TODOS LOS DÍAS.
</p>

<p style="color:red;">
    Recuerda por favor llevar este código, ya que sin él no podrás ingresar.
</p>

<pre style='line-height: 15px;font-family:"Courier New", Courier, monospace;'>
<QR>
</pre>";
